// :host ::ng-deep
.p-dialog-mask.p-component-overlay {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.popup-modal.p-dialog {
  position: absolute !important;
  height: auto !important;
  min-width: 400px;
  max-width: max-content;

  @media (max-width: 767.98px) {
    min-width: 280px;
    max-width: 95vw;
  }

  .p-dialog-header {
    .p-dialog-header-icons {
      .p-dialog-header-icon {
      }
    }
  }
  .p-dialog-content {
    padding: 0 !important;
    height: auto !important;
    position: relative;
    overflow: hidden !important;
    border-radius: 0 !important;
    background-color: transparent !important;

    .modal-content {
      &__form {
        max-width: 350px;
      }
    }
  }
  .p-dialog-footer {
    .p-dialog-footer-btn {
    }
  }
}

// own styles

.modal {
  &__wrapper {
    position: relative;
    padding: 24px;
    background-color: var(--bg-200);
    border-radius: var(--border-radius);

    max-height: 90vh;
    overflow-y: scroll;

    &:hover::-webkit-scrollbar-thumb {
      background: var(--scrollbar) !important;
      border-radius: 12px !important;
      max-height: 150px !important;
      opacity: 0.5 !important;
    }
    &::-webkit-scrollbar {
      width: var(--scrollbar-width) !important;
      background: transparent !important;
      border-radius: 0px !important;
    }
    &::-webkit-scrollbar-thumb {
      background: transparent !important;
      border-radius: 0px !important;
    }
  }
  &__close {
    z-index: 1000;
    color: var(--secondary-text-color);
    position: absolute;
    top: 24px;
    right: 24px;

    &:hover svg {
      color: var(--danger);
    }
  }

  &-content {
    width: 100%;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__item {
      width: 100%;

      &.flex {
        display: flex;
        align-items: center;
        gap: 16px;
      }
      &.scrollable-block {
        max-height: 50vh;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 2px;
      }
    }
    &__wrap {
      max-width: 350px;
      width: 100%;
      text-align: center;

      display: flex;
      flex-direction: column;
      gap: 24px;
      align-items: center;
    }
    &__form {
      // margin-top: 24px;
      width: 100%;
    }
    &__form-field {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
      &--double {
        display: flex;
        gap: 16px;
      }
    }
    &__form-textarea {
      resize: none;
      height: 126px;
    }
    &__label {
      margin-bottom: 8px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        font-size: 11px;
        line-height: 13px;
        color: var(--main-text-color);
      }
    }
    &__upload-file {
      width: 100%;
      height: 48px;
      border: 1px dashed var(--bg-600);
      border-radius: var(--border-radius);
      background-color: transparent;
      color: var(--secondary-text-color);

      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        color: var(--main-active-text-color);
        span {
          color: var(--main-active-text-color);
        }
      }
      span {
        margin-left: 8px;
        transition: var(--transition-4);
      }
    }
    &__delete-file {
      margin: 8px 0;
    }
  }
}
// =========== Shop Payment Modal Styles =================
.modal-content__wrap.payment-details {
  gap: 16px;
  text-align-last: left;
}
.payment-details {
  // .back-btn {
  //   color: var(--main-text-color);
  //   svg {
  //     color: var(--secondary-text-color);
  //   }
  // }
  h3.app-title {
    margin: 0;
  }
  .divider {
    margin: 0;
    background-color: var(--main-text-color-30);
  }
  .payment-details-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 14px;
    line-height: 17px;
    color: var(--secondary-text-color);
    span.bold {
      font-weight: 600;
    }
    span.mega-bold {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: var(--main-active-text-color);
    }
  }
  .secure-checkout {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: var(--main-text-color);
  }
}
.accordion {
  .accordion__item {
    padding: 16px;
    background-color: var(--bg-600);
    border-radius: var(--border-radius);
    overflow: hidden;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  .accordion-header {
    padding: 0;
    margin: 0;

    button {
      width: 100%;
      font-weight: 500;
      font-size: 11px;
      line-height: 13px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--main-text-color);

      display: flex;
      align-items: center;
      justify-content: space-between;

      &.light {
        color: var(--main-active-text-color);
        span {
          opacity: 1;
        }
      }

      svg {
        transition: var(--transition-4);
        transform: rotateX(180deg);
      }

      &.collapsed {
        svg {
          transform: rotateX(0);
        }
      }
      span {
        opacity: 0.6;
      }
      &:hover,
      &:focus {
        svg {
          color: var(--main-active-text-color);
        }
      }
    }
  }
  .accordion-body {
    padding: 0;
    padding-top: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: left;
    .company-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .company-info {
        display: flex;
        align-items: center;
        gap: 8px;
      }
      .logo {
        width: 20px;
        height: 20px;
        border-radius: var(--border-radius);
      }
      .payment-info {
        display: flex;
        align-items: center;
        gap: 8px;
        span.period {
          text-transform: capitalize;
        }
      }
    }
  }
}
// ============= End Shop Payment Modal Styles =====================

// ==== cookies
.popup-modal-cookies.p-dialog {
  position: absolute !important;
  bottom: var(--footer-height);
  right: 20px;
  height: auto !important;
  min-width: 280px;
  max-width: 280px;

  margin: 0 !important;

  @media (max-width: 767.98px) {
    min-width: 350px;
    max-width: 350px;
    bottom: 20px;
    right: 50%;
    transform: translate(50%, 0) !important;
  }

  .p-dialog-content {
    padding: 0 !important;
    height: auto !important;
    position: relative;
    overflow: hidden !important;
    border-radius: 0 !important;
    background-color: transparent !important;
  }

  .modal__wrapper {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: var(--bg-600);
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.8);
    border-radius: var(--border-radius);

    h3 {
      font-weight: 700;
      font-size: 14px;
      line-height: 150%;
      color: var(--main-active-text-color);
    }
    .buttons {
      display: flex;
      align-items: center;
      gap: 10px;

      button {
        flex-basis: calc(50% - 5px);
      }
    }
  }
}

// ==== landing footer`s popups
.landing-footer.p-dialog {
  position: absolute !important;
  height: auto !important;
  max-height: 75vh !important;
  width: 70vh !important;

  overflow: hidden !important;
  margin: 0 !important;

  @media (max-width: 767.98px) {
    min-width: 350px;
    max-width: 350px;
  }

  .p-dialog-content {
    padding: 0 !important;
    height: 100% !important;
    position: relative;
    overflow: hidden !important;
    border-radius: 0 !important;
    background-color: transparent !important;
  }

  .modal__close {
    position: fixed;
  }
  .main-content {
    padding: 0 24px;
    min-height: 100%;
    height: 100%;
    overflow-y: scroll !important;
  }
  .modal__header {
    width: 100%;
    height: 40px;
    padding: 0 25px;

    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: var(--main-active-text-color);

    display: flex;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;

    .title {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: var(--main-active-text-color);
    }
  }
  .modal__wrapper {
    height: 100% !important;
    max-height: 75vh !important;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.8);
    padding: 40px 0 24px;
    background-color: var(--bg-200);
    border-radius: var(--border-radius);
    position: relative;

    .p-subtitle {
      font-weight: 500;
      font-size: 13px;
      line-height: 15px;
      color: var(--secondary-text-color);
      text-transform: uppercase;
      margin-top: 16px;
      margin-bottom: 8px;
    }
    .text {
      font-weight: 400;
      font-size: 13px;
      line-height: 15px;
      color: var(--main-text-color);
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
    .text-link {
      text-decoration: none;
      cursor: pointer;
      color: var(--accent-landing);
    }
    .p-italic {
      font-style: italic;
    }
    .p-bold {
      font-weight: 500;
    }
    .p-underline {
      text-decoration: underline;
    }
    ul,
    ol {
      list-style-position: inside;
      margin-bottom: 8px;
      li {
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        color: var(--main-text-color);
        padding-left: 16px;
        &:not(:last-child) {
          margin-bottom: 4px;
        }
      }
    }

    ol.letters {
      list-style-type: lower-alpha;
    }
  }
}

// ==== Youtube Player popup
.youtube.p-dialog {
  position: absolute !important;
  height: auto !important;
  // max-height: 80vh !important;
  width: auto !important;

  overflow: hidden !important;
  margin: 0 !important;

  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.8);

  @media (max-width: 767.98px) {
    min-width: 350px;
    max-width: 350px;
  }

  .p-dialog-content {
    padding: 0 !important;
    height: 100% !important;
    position: relative;
    overflow: hidden !important;
    border-radius: 0 !important;
    background-color: transparent !important;
  }

  .modal__close {
    position: fixed;
  }
  .main-content {
    padding: 0 24px;
    min-height: 100%;
    height: 100%;
    overflow-y: scroll !important;
  }
  .modal__header {
    width: 100%;
    height: 40px;
    padding: 0 25px;

    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: var(--main-active-text-color);

    display: flex;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;

    .title {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: var(--main-active-text-color);
    }
  }
  .modal__wrapper {
    height: 100% !important;
    max-height: 75vh !important;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.8);
    padding: 40px 0 24px;
    background-color: var(--bg-200);
    border-radius: var(--border-radius);
    position: relative;

    .p-subtitle {
      font-weight: 500;
      font-size: 13px;
      line-height: 15px;
      color: var(--secondary-text-color);
      text-transform: uppercase;
      margin-top: 16px;
      margin-bottom: 8px;
    }
    .text {
      font-weight: 400;
      font-size: 13px;
      line-height: 15px;
      color: var(--main-text-color);
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
    .text-link {
      text-decoration: none;
      cursor: pointer;
      color: var(--accent-landing);
    }
    .p-italic {
      font-style: italic;
    }
    .p-bold {
      font-weight: 500;
    }
    .p-underline {
      text-decoration: underline;
    }
    ul,
    ol {
      list-style-position: inside;
      margin-bottom: 8px;
      li {
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        color: var(--main-text-color);
        padding-left: 16px;
        &:not(:last-child) {
          margin-bottom: 4px;
        }
      }
    }

    ol.letters {
      list-style-type: lower-alpha;
    }
  }
}

// ======================= success modals style =======================
.success-modal.p-dialog {
  position: absolute !important;
  height: auto !important;
  max-height: 75vh !important;
  width: 388px !important;

  overflow: hidden !important;
  margin: 0 !important;

  @media (max-width: 767.98px) {
    min-width: 350px;
    max-width: 350px;
  }

  .p-dialog-content {
    padding: 0 !important;
    height: 100% !important;
    position: relative;
    overflow: hidden !important;
    border-radius: 0 !important;
    background-color: transparent !important;
  }

  .modal__wrapper {
    height: 100% !important;
    max-height: 75vh !important;
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.8);
    padding: 24px;
    background-color: var(--bg-200);
    border-radius: var(--border-radius);
    position: relative;

    .image {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .text {
      text-align: center;
    }
    .conf-button {
      width: 100%;
      button {
        width: 100%;
      }
    }
  }
}

// ================ see our plans popup =============================
.see-plans.p-dialog {
  max-width: 1000px;

  @media (max-width: 1060.98px) {
    max-width: 95vw;
  }

  .modal__wrapper {
    height: 100%;
    padding: 24px;
    overflow: hidden;
    max-height: 90vh;
    padding-right: calc(24px - var(--scrollbar-width));
    overflow-y: scroll !important;
  }
  // .main-content {
  //   height: 100%;
  //   padding: 0 24px;
  //   padding-right: calc(24px - var(--scrollbar-width));
  //   overflow-y: scroll !important;
  // }

  .modal__close {
    position: fixed;
  }
}

.plan-modal-popup.p-dialog {
  box-shadow: none !important;
}
