:host {
  display: block;
  width: 100%;
  height: 100%;
}

.body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.ribbon-button-welcome {
  background-image: url("./welcome.png");
  background-size: 35px 35px;
}
