<div class="header-box px-2">
  <img class="icon" [src]="'assets/icons/favicons/favicon-svg.svg'" alt="">

  <div class="d-flex" style="justify-content: space-between; width: 100%;">
    <div class="analyst-menu">
      <p>
        <span>ANALYST</span>
      </p>
      <ul>
        <li>
          <a  routerLink="/analyst/companies" routerLinkActive="active-link">
            <i class="bi bi-list-ul me-2"></i> Companies
          </a>
        </li>
      </ul>
    </div>
    <div class="analyst-menu">
      <ul>
        <li>
          <a  routerLink="/manager" routerLinkActive="active-link">
            Manager
          </a>
        </li>
        <li>
          <a  routerLink="/overview" routerLinkActive="active-link">
            Platform
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
