ul li {
  list-style: none;
}
.bi-paperclip::before {
  transform: rotate(45deg);
}
.merge:after {
  content: none;
}
.merge-result {
  display: inline-block;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.highlight-on-hover:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
}
::ng-deep.modal-backdrop {
  pointer-events: none;
}
::ng-deep .p-sidebar .p-sidebar-header {
  position: relative;
  .p-sidebar-close {
    position: absolute;
    top: 0;
    left: -30px;
    color: white;
  }
}
.rotate-icon::before {
  transform: rotate(90deg);
}

// ===================================
.feedback {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;

  overflow: hidden;

  // FILTER
  &__filter {
    width: 260px;
    padding: 24px;
    flex-shrink: 0 !important;
    background-color: var(--bg-300);
  }
  &__filter-caption {
    font-weight: 500;
    font-size: 11px;
    line-height: 1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-text-color);
    opacity: 0.6;

    margin-bottom: 21px;
  }
  &__filter-type {
    padding-left: 12px;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-text-color);
    opacity: 0.6;
    &--last {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: var(--secondary-text-color);
      opacity: 1;
      letter-spacing: normal;
      margin-bottom: 0;
      text-transform: capitalize;
    }
  }
  &__filter-field {
    padding-top: 0;
    &:first-child {
      padding-top: 8px;
    }
  }

  &__filter-list {
    margin-top: 8px;

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:not(:last-child) {
        // margin-bottom: 12px;
      }
      .total-number {
        margin-left: auto;
        color: var(--main-active-text-color);
      }
    }
  }
  //POSTS
  &__posts {
    background-color: var(--bg-200);
    flex-grow: 1;
    padding-bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    &-wrapper {
      max-width: 840px;
      margin: 0 auto;
    }
    &-header-wrapper {
      height: 100%;
      width: 100%;
      max-width: 840px;
      margin: 0 auto;

      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid var(--bg-600);
    }
    &-header {
      width: 100%;
      height: 48px;
      padding: 0 20px;
      margin-bottom: 10px;
    }
    &-body {
      width: 100%;
      height: calc(100% - 32px - 11px);

      padding: 0 calc(20px - var(--scrollbar-width)) 20px 20px; /* padding - scrollbar width */
      overflow-y: scroll !important;
    }
    &-title {
      margin: 0;
      color: var(--main-active-text-color);
      font-size: 16px;
      font-weight: 400;
    }
    &-controls {
      flex-shrink: 0;
      display: flex;
      align-items: center;
    }
    &-sort {
      display: flex;
      align-items: center;
      gap: 16px;

      .filter-block {
        .dropdown-menu {
          width: 188px;
        }
        .dropdown-divider {
          margin: 8px 0;
          height: 1px;
          width: 100%;
          background-color: var(--main-text-color-30);
          border: none;
        }
      }
      .filter-block,
      .sort-block {
        display: flex;
        align-items: center;
        gap: 4px;

        .dropdown-item {
          padding: 0;
        }
        .dropdown-item-last {
          padding: 10px 12px;
        }
        label.check {
          display: block;
          width: 100%;
          height: 100%;
          padding: 8px 12px;
          cursor: pointer;

          display: flex;
          align-items: center;
        }
      }
    }
    &-sort-btn {
      font-weight: 400;
      color: var(--main-active-text-color);
    }
    &-search {
      margin-left: 16px;
      position: relative;
      svg {
        height: 16px;
        width: 16px;
        color: var(--main-text-color);
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
      }
      input {
        width: 180px;
        border-radius: var(--border-radius);
        height: 32px;
        line-height: 1;
        // background-color: var(--bg-300);
        color: var(--main-text-color);
        // border: 1px solid var(--bg-600);
        padding: 8px 12px 8px 40px;
        &:focus {
          outline: none;
          box-shadow: none;
        }
        &::placeholder {
          color: var(--main-text-color);
        }
      }
    }
  }
  // REQUEST
  &__request {
    height: 100%;
    width: 320px;
    padding: 24px;
    padding-top: 0;
    padding-right: calc(24px - var(--scrollbar-width));
    overflow-y: scroll !important;
    flex-shrink: 0 !important;
    background-color: var(--bg-300);
    position: relative;
    &-fixed-block {
      padding-top: 24px;
      padding-bottom: 16px;
      position: sticky;
      top: 0;
      background-color: var(--bg-300);
    }
    &-new-post {
      .add-new-wrapper {
        margin-top: 12px;
        padding: 12px;
        padding-top: 0;
        position: relative;
        z-index: 100;
      }
    }
    &-notifications {
      width: 100%;
    }
    &-notifications-content {
      // margin-top: 8px;
    }

    &-title {
      margin-bottom: 0;
    }
    &-list {
      li:not(:last-child) {
        margin-bottom: 8px;
      }
    }
    &-button-wrapper {
      background-color: var(--bg-600);
      border-radius: var(--border-radius);
    }
    &-button {
      width: 100%;
      padding: 12px;
      background-color: var(--bg-600);
      border-radius: var(--border-radius);
      border: none;
      outline: none;
      box-shadow: none;

      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-button-content {
      display: flex;
      align-items: center;
    }
    &-button-icon {
      width: 36px;
      height: 36px;
      padding: 10px;
      margin-right: 16px;
      border-radius: var(--border-radius);

      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        height: 100%;
        width: 100%;
      }
      &.bug {
        background-color: var(--danger-10);
        color: var(--danger);
      }
      &.feature {
        background-color: var(--accent-10);
        color: var(--accent);
      }
    }
    &-button-text {
      font-size: 12px;
      line-height: 15px;
      color: var(--main-active-text-color);
    }
    &-button-plus {
      width: 16px;
      height: 16px;

      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        color: var(--secondary-text-color);
        height: 100%;
        width: 100%;
        transition: var(--transition-4);
      }

      &:hover {
        svg {
          color: var(--main-active-text-color);
        }
      }
    }

    //card
    &-card {
      padding: 16px;
      width: 100%;
      background: var(--bg-600);
      border-radius: var(--border-radius);
      border: 1px solid transparent;
      transition: var(--transition-4);

      &:not(:last-child) {
        margin-bottom: 8px;
      }
      // unread card
      &.unread {
        background-color: var(--accent-10);
        border: 1px solid var(--accent-30);
      }
      &-header {
        height: 16px;
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--main-text-color);
      }
      &-time-wrap {
        display: flex;
        align-items: center;
        .new {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: var(--danger);
          margin-right: 8px;
        }
      }
      &-time {
        font-size: 11px;
        line-height: 13px;
      }
      &-close {
        height: 16px;
        width: 16px;
        padding: 0;
        background-color: transparent;
        color: var(--main-text-color);
        border: none;
        outline: none;
        box-shadow: none;

        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 100%;
          height: 100%;
        }
      }
      &-title {
        margin-bottom: 8px;

        font-weight: 600;
        font-size: 12px;
        line-height: 15px;

        color: var(--main-active-text-color);
      }
    }
  }

  .divider {
    width: calc(100% - 60px);
    margin: 24px auto;
    background-color: var(--bg-600);

    &.top {
      margin-top: 16px;
    }
    &.bottom {
      margin-top: 10px;
    }
  }
}

// =================================  right sidebar ==================================
.sidebar {
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  .reply-title {
    font-weight: 400;
  }
  .back-btn-wrap {
    position: sticky;
    top: 0;
    padding: 0 24px;
  }
  .back-btn {
    margin-top: 16px;
    margin-bottom: 16px;
    max-width: fit-content;
    cursor: pointer;
    // color: var(--main-active-text-color);
    // svg {
    //   color: var(--main-text-color);
    // }
  }

  .post-comments-container {
    height: calc(100% - 150px);
    overflow-y: scroll !important;
    overflow-x: hidden;
    padding: 0 24px;
    padding-right: calc(24px - var(--scrollbar-width));
  }
  &__leave-comment-row {
    display: flex;
    gap: 12px;
  }
  &__leave-comment {
    padding: 0 24px;
    padding-bottom: 8px;

    .comment {
      flex-grow: 1;
    }
  }

  &__comments {
    // padding-right: calc(24px - var(--scrollbar-width));
  }
}

.textarea-container {
  width: 100%;
  position: relative;
}
.textarea-container textarea {
  width: 100%;
  height: 80px !important;
  box-sizing: border-box;
  resize: none;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  background-color: var(--bg-300);
  border: 1px solid var(--main-text-color-20);
  border-bottom: none;
  box-shadow: none;
  outline: none;
  padding: 8px 12px;
  color: var(--main-text-color);

  overflow-y: scroll !important;
  padding-right: calc(12px - var(--scrollbar-width));

  &::placeholder {
    color: var(--main-text-color);
  }
}

.bottom-textarea-controls {
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  width: 100%;
  z-index: 5;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  background-color: var(--bg-300);
  border: 1px solid var(--main-text-color-20);
  border-top: none;
  padding: 12px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.textarea-controls {
  display: flex;
  align-items: center;
  color: var(--main-text-color);

  li {
    position: relative;

    &:not(:last-child) {
      margin-right: 17px;

      &::after {
        content: "";
        display: block;
        width: 1px;
        height: 10px;
        background-color: var(--main-text-color-30);
        position: absolute;
        right: -8px;
        top: 50%;
        transform: translate(50%, -50%);
      }
    }
  }
}
.textarea-uploaded-files {
  z-index: 5;
  display: flex;
  .file-item {
    padding: 4px;
    display: flex;
    align-items: center;
    gap: 8px;
    background: var(--accent-10);
    border-radius: var(--border-radius);
    position: relative;

    margin-right: 12px;

    svg {
      width: 16px;
      height: 16px;
    }

    &:hover .remove-file {
      opacity: 1;
    }

    .remove-file {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -50%);

      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: var(--secondary-text-color);
      padding: 3px;

      display: flex;
      align-items: center;
      justify-content: center;
      transition: opacity var(--transition-4);
      opacity: 0;

      svg {
        color: var(--main-text-color);
        width: 100%;
        height: 100%;
      }
    }
  }
}
.textarea-length {
  margin-top: 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.merge-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 16px;
  margin-bottom: 24px;
  border-radius: var(--border-radius);
  background-color: var(--bg-600);

  .select-btn {
    width: 260px;
    padding: 8px 12px;
    border-radius: var(--border-radius);
    border: 1px solid var(--main-text-color-30);
    color: var(--secondary-text-color);
    font-size: 12px;
    line-height: 15px;
    justify-content: space-between;
    svg {
      color: var(--main-text-color);
    }
  }
  .dropdown-menu {
    max-width: 260px;
    min-width: 260px;
  }
}

.scroll-divider {
  width: calc(100% - 60px);
  height: 1px;
  background-color: var(--bg-600);
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
